@{
	ViewBag.Title = "About";
}

<style>
	body{
		background: rgba(28, 28, 46, 0.9);
	}


	footer {
		margin: 0;
		padding: 0;
		margin: 100px 0px;
		display: flex;
		height: max-content;
		min-height: 300px;
		overflow: hidden;
		z-index: 1;
		backdrop-filter: blur(10px);
	}
	
	.FooterLogo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: 300px;
	}

	.FooterLogo > img {
		flex-shrink: 0;
		height: 200px;
		user-select: none;
	}
	
	.FooterContent {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
	}
	
	.FooterContent > div {
		display: flex;
		flex-direction: column;
		margin: 50px;
	}
	
	.FooterContent > div > h3 {
		color: #959595;
		font-size: 12px;
		font-weight: 300;
		padding: 0px 2px;
	}
	
	.FooterContent > div > a {
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		display: block;
		width: max-content;
		padding: 10px 2px;
	}
	
	.FooterContent > div > a:focus,
	.FooterContent > div > a:hover {
		color: #959595;
	}
</style>

<footer>
	<div class="FooterLogo"><img src="~/Images/messangerImg.png" alt="photo"></div>
	<div class="FooterContent">
		<div>
			<h3>About</h3>
			<a href="#">About us</a>
			<a href="#">Timeline</a>
			<a href="#">Careers</a>
			<a href="#">Dealer Registration</a>
			<a href="#">Corporate Sales</a>
		</div>

		<div>
			<h3>Support</h3>
			<a href="#">Contact Us</a>
			<a href="#">Returns</a>
			<a href="#">Warranty</a>
			<a href="#">Help / Shipping</a>
			<a href="#">Support</a>
		</div>

		<div>
			<h3>Other</h3>
			<a href="#">Gift Card</a>
			<a href="#">Blog</a>
			<a href="#">Affiliate Program</a>
			<a href="#">Store Locator</a>
		</div>
	</div>
</footer>

