@model Main.Models.AddEmployeeToProjectViewModel
@{
	ViewBag.Title = "Add Employee";
}

@if (Model.Employees.Count == 0)
{
	<p style="display: block; margin-top: 20px; font-size: 16pt;">Нет новых сотрудников. @Html.ActionLink("Обратно", "ProjectDetail", new { projectID = Model.ProjectID })</p>
}
else
{
	<style>
		table {
			margin-top: 30px;
		}

		table img{
			max-height: 60px;
			max-width: 80px;
		}

			table td {
				border: 2px solid black;
				padding: 5px 10px;
			}

		.AddBtn {
			background: #19750d;
			color: white;
			padding: 5px 10px;
			font-weight: 600;
			border-radius: 10px;
		}
	</style>

	<table>
		<tbody>
			@foreach (var employee in Model.Employees)
			{
				<tr>
					<td><img src="/@employee.ImgSrc" alt="photo" /></td>
					<td>@employee.UserName</td>
					<td>@Html.ActionLink("Добавить", "AddEmployeeToProjectValue", new { projectID = Model.ProjectID, employeeLogin = employee.UserName }, new { @class = "btn btn-primary" })</td>
				</tr>
			}
		</tbody>
	</table>
	@Html.ActionLink("Обратно", "ProjectDetail", new { projectID = Model.ProjectID }, new { @style = "margin-top: 20px; display: block; width: max-content;" })
}

