<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ADO_DataReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ADO_DataReader.Properties.Settings.pubsConnectionString"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=pubs;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ADO_DataReader.Properties.Settings.oracleConnection" connectionString="Data Source=orcl;User ID=SYSTEM;Password=oracle1;Unicode=True"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <applicationSettings>
    <ADO_DataReader.Properties.Settings>
      <setting name="PortNumber" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>Vasya Pupkin</value>
      </setting>
    </ADO_DataReader.Properties.Settings>
  </applicationSettings>
</configuration>
